# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Uploads directory (except for the .gitkeep file to maintain the directory)
uploads/*
!uploads/.gitkeep

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
 